/* Headings */
h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-family: "Bungee Inline", cursive;
}


/* Base */
html, body {
    font-family: "Space Grotesk", sans-serif;
    background-color: #ffffff;
    margin: 0;
    height: 100%;
}

/* Header */
#header {
    background-color:#FD1E38; 
    text-align: center;
}

#daily-cocktails {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    padding-top: 10px;
    margin-bottom: 0;
}

/* Nav */
nav {
    background-color: #FD1E38;
    margin-top: 0;
}

#nav-list .nav-link {
    font-weight: bold;
    color: black;
}

.navbar-toggler-icon {
    filter: invert(1);
}

/* Main */
#main-content {
    background-color: #faf6f7;
    border: dashed #FD1E38;
    border-width: 8px;
    margin-bottom: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
   
}

/* Login status */
.login-status {
    font-weight: bold; 
    justify-content: start;
}

/* Home card */
#home-card {
    background-color: #C48C8C;
    border-radius: 10px;
    box-shadow: 0 4px 12px #aa0202;
    overflow: hidden;
    margin: 1rem;
}

#home-image {
    height: 100%;
    object-fit: cover;
    width: 100%;

}
/* Card text */
#home-body,
.card-body {
    font-size: clamp(1rem, 4vw, 1.2rem);
    line-height: 1.6;
    padding:0.75rem;
}

p {
    max-width: 70ch;
    margin-left: auto;
    margin-right: auto;
}

.card-img-top {
    height: 400px;     
    object-fit: cover;  
    width: 100%;
}

#category-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#owner-text {
    font-style: italic;
    margin-top: 5px;
    padding-right: 10px;
}

h2.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #212529;
}

a {
    text-decoration:none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: #aa0202; 
}

#cocktail-img{
    width: 100%;
    max-width: 600%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px #aa0202;
    margin-top: 20px;
}

#submit {
    border: none;
    color: white;
    background-color: #aa0202;
}
.page-link {
    color: white;
    font-weight: bold;
    background-color: #FD1E38;
    border: none;
}

.page-link:hover {
    background-color: #aa0202;
    color: white;
}

.page-link:focus {
    background-color: #aa0202;
    color: white;
}

/* Footer */
#footer {
    background-color: #FD1E38;
    text-align: center;
    width: 100%;
    font-size: 25px;
    position:sticky;
    top: 100vh;
}