/* Headings */
h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-family: "Bungee Inline", cursive;
}

/* Base */
html, body {
    font-family: "Space Grotesk", sans-serif;
    background-color: #ffffff;
    margin: 0;
    height: 100%;
}

/* Header */
#header {
    background-color:#FD1E38; 
    text-align: center;
    padding: 20px;
}

#daily-cocktails {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}

/* Nav */
nav {
    background-color: #FD1E38;
    padding: 10px 0;
}

#nav-list .nav-link {
    font-weight: bold;
    color: black;
}

/* Main */
main {
    background-color: #faf6f7;
    border: 8px dashed #FD1E38;
    padding: 2rem;
    padding-bottom:40px;
    margin-bottom: 20px;
    max-width: 1400px;
}

 /* Make default container wider globally */
.container {
    max-width: 1400px;
}

/* Login status */
.signed-status {
    font-weight: bold;
    margin-bottom: 15px;
}

/* Home card */
#home-card {
    background-color: #C48C8C;
    border-radius: 10px;
    box-shadow: 0 4px 12px #aa0202;
    overflow: hidden;
    padding-bottom: 30px;
    margin: 1rem;
}

/* Card text */
#home-body,
.card-body {
    font-size: 1.1em;
    line-height: 1.6;
    padding: 1rem;
}

/* Home image */
#home-image {
    width: 100%;
    height:auto;
    object-fit: cover;
    display: block;
}

.card-img-top {
    height: 400px;     
    object-fit: cover;  
    width: 100%;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

h2.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #212529;
}

a {
    text-decoration:none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: #aa0202; 
}

#cocktail-img{
    max-width: 25%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px #aa0202;
    margin-top: 20px;
}

#submit {
    border: none;
    color: black;
}
/* Footer */
#footer {
    background-color: #FD1E38;
    text-align: center;
    width: 100%;
    font-size: 25px;
    position:sticky;
    top: 100vh;
}