/* Headings */
h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-family: "Bungee Inline", cursive;
}

/* Base */
body {
    font-family: "Space Grotesk", sans-serif;
    background-color: #ffffff;
    margin: 0;
}

/* Header */
#header {
    background-color: #c92c3e;
    text-align: center;
    padding: 20px;
}

/* Nav */
nav {
    background-color: #9e0029;
    padding: 10px 0;
}

#nav-list .nav-link {
    font-weight: bold;
    color: black;
}

/* Main */
main {
    background-color: #faf6f7;
    border: 8px dashed #9e0029;
    padding: 40px 50px;
    padding-bottom:40px;
    margin-bottom: 20px;
    max-width: 1400px;
}

 /* Make default container wider globally */
.container {
    max-width: 1400px;
}

/* Login status */
.signed-status {
    font-weight: bold;
    margin-bottom: 15px;
}

/* Home card */
#home-card {
    background-color: #C48C8C;
    border-radius: 10px;
    box-shadow: 0 4px 12px #aa0202;
    overflow: hidden;
    padding-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Card text */
#home-body,
.card-body {
    font-size: 1.1em;
    line-height: 1.6;
    padding: 1rem;
}

/* Home image */
#home-image {
    width: 100%;
    height:108%;
    object-fit: cover;
    display: block;
}
/* Footer */
#footer {
    background-color: #c92c3e;
    text-align: center;
    padding: 20px;
}