{% load static %}

{% url 'home' as home_url %}
{% url 'cocktails' as cocktails_url %}
{% url 'add_cocktail' as add_cocktail_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Gargle Guardian</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Google Fonts -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Space+Grotesk&display=swap');
    </style>
</head>

<body>

    <header>
        <h1>The Gargle Guardian</h1>
        <p>Daily Cocktail Recipes!</p>
    </header>

    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Explore Cocktails</a>
                <ul class="dropdown-menu">
                    {% for c in categories %}
                    <li><a class="dropdown-item" href="{% url 'category' c.pk %}">{{ c.name }}</a></li>
                    {% endfor %}
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'add_cocktail' %}">Add Your Own</a></li>
                </ul>
            </li>

            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link {% if request.path == add_cocktail %}active{% endif %}" aria-current="page"
                    href="{% url 'add_cocktail' %}">Add Cocktail</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page"
                    href="{% url 'account_logout' %}">Sign out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
                    href="{% url 'account_login' %}">Sign in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                    href="{% url 'account_signup' %}">Register</a>
            </li>

            </li>
            {% endif %}
        </ul>
    </nav>
    <!-- displaying Django messages -->
    {% if messages %}
    <section id="alerts">
        {% for msg in messages %}
        <!-- all django message tags mirror bootstrap, except error/danger -->
        <aside
            class="alert {% if msg.tags == 'error' %}alert-danger{% else %}alert-{{ msg.tags }}{% endif %} alert-dismissible rounded-0 text-center"
            role="alert">
            <h3>{{ msg }}</h3>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </aside>
        {% endfor %}
    </section>
    {% endif %}
    <main class="flex-shrink-0 main-bg">
        {% if user.is_authenticated %}
        <p class="text-end m-3">You are signed in as {{ user }}</p>
        {% else %}
        <p class="text-end m-3">You are not signed in</p>
        {% endif %}

        {% block content %}
        <!-- Content Goes here -->

        {% endblock content %}

    </main>
    <footer>
        <p>© 2025 Kearns</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous">
    </script>
</body>

</html>