{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">

                {% if not cocktail.approved %}
                <span class="badge rounded-pill text-bg-warning">Pending Approval</span>
                {% endif %}
                <h1 class="cocktail-title">{{ cocktail.name }}</h1>

                <!-- is the user logged-in and owns this cocktail -->
                {% if request.user == cocktail.author %}
                <a href="{% url 'update_cocktail' cocktail.pk cocktail.slug %}" class="btn btn-success">Update</a>
                <a href="!" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#modal-delete-{{ cocktail.id }}">Delete</a>
                <!-- confirm delete cocktail modal -->
                <div class="modal fade" id="modal-delete-{{ cocktail.id }}" tabindex="-1"
                    aria-labelledby="modal-delete-{{ cocktail.id }}-label" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="modal-delete-{{ cocktail.id }}-label">Delete Cocktail
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete <span class="text-danger">{{ cocktail.name }}</span>?
                                <br>
                                <small class="text-secondary">This action is permanent, and cannot be undone.</small>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                <a href="{% url 'delete_cocktail' cocktail.pk cocktail.slug %}"
                                    class="btn btn-success">Confirm Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- end of cocktail owner buttons -->

                <p class="cocktail-subtitle">
                    {{ cocktail.author }} | {{ cocktail.created_on|date:"M d, Y" }}
                </p>
            </div>

            <div class="col-12 col-lg-6">
                {% if cocktail.image %}
                <img src="{{ cocktail.image.url }}" alt="{{ cocktail.title }}" class="img-fluid w-100 cocktail-img">
                {% else %}
                <img src="{% static 'images/default-img.jpg' %}" alt="Default Cocktail Image"
                    class="img-fluid w-100 cocktail-img" id="default-img">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">

    <!-- DESCRIPTION -->
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <h3>Description</h3>
                <p>{{ cocktail.description | safe }}</p>
            </div>
        </div>
    </div>

    <!-- INGREDIENTS -->
    <div class="row">
        <div class="col card mb-4 left top">
            <div class="card-body">
                <h3>Ingredients</h3>
                <ul>
                    {% for item in cocktail.ingredients_list %}
                    <li>{{ item | safe }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!-- INSTRUCTIONS -->
    <div class="row">
        <div class="col card mb-4 left top">
            <div class="card-body">
                <h3>Instructions</h3>
                <div>
                    {{ cocktail.instructions|safe|linebreaks }}
                </div>
            </div>
        </div>
    </div>


    <!-- GARNISH -->
    {% if cocktail.garnish %}
    <div class="row">
        <div class="col card mb-4 left top">
            <div class="card-body">
                <h3>Garnish</h3>
                <p>{{ cocktail.garnish }}</p>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Displaying count of comments -->
    <div class="row">
        <div class="col-12">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ comment_count }}
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <!-- Displaying Comments -->
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags
          to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="p-2 comments
          {% if not comment.approved and comment.author == user %}
          faded{% elif not comment.approved %} d-none{% endif %}">
                    <p class="font-weight-bold">
                        {{ comment.author }}
                        <span class="font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <div id="comment{{ comment.id }}">
                        {{ comment.body | linebreaks }}
                    </div>
                    {% if comment.author == user %}
                    <!-- Comment owner buttons -->
                    <div class="mt-2">
                        <a href="{% url 'update_comment' comment.pk cocktail.slug %}" class="btn btn-success btn-sm">
                            Edit
                        </a>

                        <!-- Delete Button (opens modal) -->
                        <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                            data-bs-target="#deleteCommentModal{{ comment.id }}">
                            Delete
                        </button>
                    </div>

                    <!-- Delete Modal -->
                    <div class="modal fade" id="deleteCommentModal{{ comment.id }}" tabindex="-1" role="dialog"
                        aria-modal="true" aria-labelledby="deleteCommentModalLabel{{ comment.id }}" aria-hidden="true">

                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteCommentModalLabel{{ comment.id }}">
                                        Delete Comment
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <div class="modal-body">
                                    Are you sure you want to delete this comment?
                                    <br><small class="text-secondary">This cannot be undone.</small>
                                </div>

                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <a href="{% url 'delete_comment' comment.pk cocktail.slug %}"
                                        class="btn btn-danger">
                                        Confirm Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                    {% endif %}
                    {% if not comment.approved and comment.author == user %}
                    <p class="approval">
                        This comment is awaiting approval
                    </p>
                    {% endif %}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <!-- Creating New Comments -->
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form id="commentForm" method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button id="submit" type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% else %}
                <p>Log in to leave a comment</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}