{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container mt-4">
    <div class="row">
        <div class="col">
            Delete Comment
            <form action="{% url 'update_comment' comment.pk comment.cocktail.slug %}" method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}